<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/materialAdd">Add material</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewMaterial">View material</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/dealer">View registered dealers & approval</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/dealerapprove">View approved dealers</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewRegisteredUser">view registered users</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewComplaint">View complaint</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewFeedback">View feedback</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout">Log out</a></th>
  </tr>
</table>

</body>
</html>
