<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Admin Panel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/main/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/static/main/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/slicknav.css">
            <link rel="stylesheet" href="/static/main/assets/css/animate.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/main/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/themify-icons.css">
            <link rel="stylesheet" href="/static/main/assets/css/slick.css">
            <link rel="stylesheet" href="/static/main/assets/css/nice-select.css">
            <link rel="stylesheet" href="/static/main/assets/css/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/main/assets/img/logo/loder-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>Admin Panel</li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-2" >
                                <div  class="ml-5">
                                    <!-- logo-1 -->
                                    <a href="/adminHome" class="big-logo"><img src="/static/main/assets/img/logo/MaterialHub.png" alt=""></a>
                                    <a href="/adminHome" class="big-logo"></a>
                                    <!-- logo-2 -->
{#                                    <a href="/dealer_home" class="small-logo"><img src="/static/main/assets/img/logo/loder-logo.png" alt=""></a>#}
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/adminHome">Home</a></li>
                                            <li><a href="#"> Material</a>
                                            <ul class="submenu">
                                                    <li><a href="/viewMaterial#contents">View Material</a></li>
                                                    <li><a href="/materialAdd#contents">Add Material</a></li>


                                                </ul>
                                            </li>

                                            <li><a href="#">Dealer</a>
                                             <ul class="submenu">
                                                    <li><a href="/dealer#contents">View Registered Dealer & Approval</a></li>
                                                    <li><a href="/dealerapprove#contents">Approved Dealer</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="/viewRegisteredUser#contents">Registered Users</a></li>


                                            <li><a href="/viewComplaint#contents">Complaint</a></li>
                                            <li><a href="/viewFeedback#contents">Feedback</a> </li>

                                            <li><a href="/logout">Log Out</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/static/main/assets/img/gallery/h.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">

                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>MaterialHub</h2>
                                        <h2>MaterialHub</h2>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/static/main/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">
                                    <div class="hero-text1">
                                        <span data-animation="fadeInUp" data-delay=".3s">hand car wash and detailing service</span>
                                    </div>
                                    <h1 data-animation="fadeInUp" data-delay=".5s">advanced</h1>
                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>Construction</h2>
                                        <h2>Construction</h2>
                                    </div>
                                    <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                        <span><a href="services.html">Our Services</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Area Start -->
        <div class="services-area1 section-padding30" id="contents">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-2"></div>
                <div class="col-8">



                      {% block body %}


                    {% endblock %}
                </div>
                <div class="col-2"></div>


                </div>
            </div>
        </div>
        <!-- Services Area End -->





    </main>
  <footer>
    <!-- Footer Start-->
    <div class="footer-main">
        <div class="footer-area" style="padding: 10px 0;"> <!-- Reduced the padding -->
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-4 col-sm-8">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/adminHome"><img src="/static/main/assets/img/logo/MaterialHub.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <div class="footer-tittle">
                                <h4>Contact</h4>

                                <div class="footer-pera">
                                    <p class="info1">198 West 21th Street, Suite 721 Goa, NY 10010</p>
                                </div>
                                <ul>
                                    <li><a href="#">Phone: +91 9087562003</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <div class="map-footer">
                                <img src="/static/main/assets/img/gallery/map-footer.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copy-Right -->
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="footer-copy-right" style="margin-top: 5px;"> <!-- Reduced the top margin -->
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="/static/main/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/static/main/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/main/assets/js/popper.min.js"></script>
        <script src="/static/main/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/static/main/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/static/main/assets/js/owl.carousel.min.js"></script>
        <script src="/static/main/assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="/static/main/assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="/static/main/assets/js/wow.min.js"></script>
		<script src="/static/main/assets/js/animated.headline.js"></script>
        <script src="/static/main/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="/static/main/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/main/assets/js/jquery.nice-select.min.js"></script>
		<script src="/static/main/assets/js/jquery.sticky.js"></script>

        <!-- counter , waypoint -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="/static/main/assets/js/jquery.counterup.min.js"></script>

        <!-- contact js -->
        <script src="/static/main/assets/js/contact.js"></script>
        <script src="/static/main/assets/js/jquery.form.js"></script>
        <script src="/static/main/assets/js/jquery.validate.min.js"></script>
        <script src="/static/main/assets/js/mail-script.js"></script>
        <script src="/static/main/assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="/static/main/assets/js/plugins.js"></script>
        <script src="/static/main/assets/js/main.js"></script>

    </body>
</html>