<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MaterialHub</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/main/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/static/main/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/slicknav.css">
            <link rel="stylesheet" href="/static/main/assets/css/animate.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/main/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/static/main/assets/css/themify-icons.css">
            <link rel="stylesheet" href="/static/main/assets/css/slick.css">
            <link rel="stylesheet" href="/static/main/assets/css/nice-select.css">
            <link rel="stylesheet" href="/static/main/assets/css/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/main/assets/img/logo/loder-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>

                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-2" >
                                <div  class="ml-5">
                                    <!-- logo-1 -->
                                    <a href="/home" class="big-logo"><img src="/static/main/assets/img/logo/MaterialHub.png" alt=""></a>
                                    <a href="/home" class="big-logo"></a>
                                    <!-- logo-2 -->
{#                                    <a href="/dealer_home" class="small-logo"><img src="/static/main/assets/img/logo/loder-logo.png" alt=""></a>#}
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/home">Home</a></li>
                                            <li><a href="/client_view_profile#contents">Profile</a>
                                             <ul class="submenu">
                                                    <li><a href="/client_view_profile#contents">Profile</a></li>
                                                    <li><a href="/change_password#contents">Change Password</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="/client_view_material#contents">Materials</a></li>
                                            <li><a href="/view_request_status#contents">Request Status</a> </li>


                                            <li><a href="/send_feedBack#contents">Feedback</a> </li>

                                            <li><a href="/send_complaint#contents">Complaint</a> </li>

                                            <li><a href="/logout">Log Out</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/static/main/assets/img/gallery/h.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">

                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>MaterialHub</h2>
                                        <h2>MaterialHub</h2>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="/static/main/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="hero__caption">
                                    <div class="hero-text1">
                                        <span data-animation="fadeInUp" data-delay=".3s">hand car wash and detailing service</span>
                                    </div>
                                    <h1 data-animation="fadeInUp" data-delay=".5s">advanced</h1>
                                    <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                        <h2>Construction</h2>
                                        <h2>Construction</h2>
                                    </div>
                                    <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                        <span><a href="services.html">Our Services</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Services Area Start -->
        <div class="services-area1 section-padding30" id="contents">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-55">
                            <div class="front-text">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-2"></div>
                <div class="col-8">



                      {% block body %}


                    {% endblock %}
                </div>
                <div class="col-2"></div>


                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- About Area Start -->
        <section class="support-company-area fix pt-10">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section title -->
            <div class="section-title section-title2 mb-55">
                <div class="front-text">
                    <h2 class="">Our Commitment</h2>
                </div>
                <span class="back-text">About Us</span>
            </div>
            <div class="support-caption">
                <p class="pera-top">At MaterialHub, we believe in transforming the construction landscape by offering quality materials that meet the demands of your projects. With over a decade of experience, we have become a trusted partner for builders and contractors across the region.</p>
                <p>From the foundation to the finishing touch, our wide selection of materials, including rocks, sand, clay, and cement, ensures you have access to everything you need. Our goal is to simplify your material sourcing experience with reliability and convenience.</p>
                <a href="#" class="btn red-btn2">Learn more</a>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="/static/main/assets/img/gallery/since.jpg" alt="Materials Image">
            </div>
            <div class="support-img-cap text-center">
                <span>2010</span>
                <p>Since</p>
            </div>
        </div>
    </div>
</section>
        <!-- About Area End -->

        <!-- contact with us Start -->
       <section class="contact-with-area" data-background="/static/main/assets/img/gallery/section-bg2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-9 offset-xl-1 offset-lg-1">
                <div class="contact-us-caption">
                    <div class="team-info mb-30 pt-45">
                        <!-- Section Title -->
                        <div class="section-tittle section-tittle4">
                            <div class="front-text">
                                <h2 class="">Let's talk with us</h2>
                            </div>
                            <span class="back-text">Let’s chat</span>
                        </div>
                        <p>Got questions about sourcing materials or need assistance with your orders? We’re here to help. At MaterialHub, we prioritize building strong relationships with our clients by providing timely support and guidance for all your construction material needs.</p>
                        <a href="#footer" class="white-btn">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- contact with us End-->


        <!-- Testimonial Start -->
        <div class="testimonial-area t-bg testimonial-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Title -->
                <div class="section-tittle section-tittle6 mb-50">
                    <div class="front-text">
                        <h2 class="">Testimonials</h2>
                    </div>
                    <span class="back-text">Feedback</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-11 col-md-10 offset-xl-1">
                <div class="h1-testimonial-active">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <!-- SVG icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                    <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(255, 95, 19)" fill-opacity="0" fill="rgb(0, 0, 0)" d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z"/>
                                </svg>
                                <p>MaterialHub has transformed the way we source materials. The platform is reliable, and the support team is exceptional.</p>
                            </div>
                            <!-- Founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-text">
                                    <span>John Doe</span>
                                    <p>Project Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption">
                            <div class="testimonial-top-cap">
                                <!-- SVG icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                    <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(255, 95, 19)" fill-opacity="0" fill="rgb(0, 0, 0)" d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z"/>
                                </svg>
                                <p>We’ve been able to improve our construction timelines significantly by utilizing MaterialHub’s vast inventory of materials.</p>
                            </div>
                            <!-- Founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-text">
                                    <span>Jane Smith</span>
                                    <p>CEO, BuildTech</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add more testimonials as needed -->
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Testimonial End -->


    </main>
   <footer>
    <!-- Footer Start-->
    <div class="footer-main" id="footer">
        <div class="footer-area" style="padding: 10px 0;"> <!-- Reduced the padding -->
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-4 col-sm-8">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/adminHome"><img src="/static/main/assets/img/logo/MaterialHub.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <div class="footer-tittle">
                                <h4>Contact</h4>

                                <div class="footer-pera">
                                    <p class="info1">198 West 21th Street, Suite 721 Goa, NY 10010</p>
                                </div>
                                <ul>
                                    <li><a href="#">Phone: +91 9087562003</a></li>
                                    <li><a href="#">materialhub2@gmail.com</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="single-footer-caption" style="margin-bottom: 10px;"> <!-- Reduced the margin -->
                            <div class="map-footer">
                                <img src="/static/main/assets/img/gallery/map-footer.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copy-Right -->
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="footer-copy-right" style="margin-top: 5px;"> <!-- Reduced the top margin -->
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="/static/main/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/static/main/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/main/assets/js/popper.min.js"></script>
        <script src="/static/main/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/static/main/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/static/main/assets/js/owl.carousel.min.js"></script>
        <script src="/static/main/assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="/static/main/assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="/static/main/assets/js/wow.min.js"></script>
		<script src="/static/main/assets/js/animated.headline.js"></script>
        <script src="/static/main/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="/static/main/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/main/assets/js/jquery.nice-select.min.js"></script>
		<script src="/static/main/assets/js/jquery.sticky.js"></script>

        <!-- counter , waypoint -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="/static/main/assets/js/jquery.counterup.min.js"></script>

        <!-- contact js -->
        <script src="/static/main/assets/js/contact.js"></script>
        <script src="/static/main/assets/js/jquery.form.js"></script>
        <script src="/static/main/assets/js/jquery.validate.min.js"></script>
        <script src="/static/main/assets/js/mail-script.js"></script>
        <script src="/static/main/assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="/static/main/assets/js/plugins.js"></script>
        <script src="/static/main/assets/js/main.js"></script>

    </body>
</html>