<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center>
<table width="200" border="1">
    <h1>Welcom Dealer</h1>
  <tr>
    <th scope="row"><a href="/view_profile">view profile</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_material">view material</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/addDriver">add driver </a></th>
  </tr>
     <tr>
    <th scope="row"><a href="/view_driver">view &edit driver </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_order">view user request</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/view_payment">view payment</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/report">view report</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_reviews">view reviews</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout">Log out</a></th>
  </tr>
</table></center>
</body>
</html>
